/*other colors*/
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto;
  font-weight: bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

header.main-header, .root .main-wrapper .main-content .services-wrapper header, .root .main-wrapper .main-content .services-wrapper .sevice-card .sevice-icon, .root .main-wrapper .main-content .Partner-wrapper header, .root .main-wrapper .main-content .projects-wrapper .project-item .description-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.root .main-wrapper .main-content .projects-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/************LINKS ********************/
/************BTNS ********************/
/************MEDIA QUERY ********************/
/*****************prfix*************/
/*****************input placeholder*************/
.pb-20 {
  padding-bottom: 1.25rem !important;
}

.mb-15 {
  margin-bottom: 0.9375rem !important;
}

.mb-20 {
  margin-bottom: 1.25rem !important;
}

.mb-30 {
  margin-bottom: 1.875rem !important;
}

.mb-80 {
  margin-bottom: 5rem !important;
}

.mt-20 {
  margin-top: 1.25rem !important;
}

.p-20 {
  padding: 1.25rem !important;
}

.pl-20 {
  padding-left: 1.25rem !important;
}

body.rtl .pl-20 {
  padding-left: 0 !important;
  padding-right: 1.25rem !important;
}

.ml-20 {
  margin-left: 1.25rem !important;
}

body.rtl .ml-20 {
  margin-left: 0 !important;
  margin-right: 1.25rem !important;
}

.mr-30 {
  margin-right: 1.875rem !important;
}

body.rtl .mr-30 {
  margin-right: 0 !important;
  margin-left: 1.875rem !important;
}

.text-underline {
  text-decoration: underline !important;
}

.p-relative {
  position: relative !important;
}

.cursor-p {
  cursor: pointer;
}

.text-nowrap {
  white-space: nowrap;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1020;
}

.m-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  -webkit-box-shadow: 0 0 7.3px 1.7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7.3px 1.7px rgba(0, 0, 0, 0.1);
}

.box {
  -webkit-box-shadow: 0 0 7.3px 1.7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7.3px 1.7px rgba(0, 0, 0, 0.1);
}

.s-border {
  position: relative;
}

.s-border::before {
  content: "";
  width: 10px;
  height: 50px;
  background-color: #0056b8;
  position: absolute;
  left: 0;
  bottom: 0;
}

.blue-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue-circle::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: #5EC9E2;
  border-radius: 50%;
  margin-right: 7px;
}

body.rtl .blue-circle::before {
  margin-right: 0;
  margin-left: 7px;
}

.fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1023px) {
  body, html {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 991px) {
  body, html {
    font-size: 14px !important;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  font-family: Myriad Pro;
}

button:focus {
  outline: 0 !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body, html {
  line-height: 1;
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: roboto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.k-animation-container,
.k-animation-container *,
.k-animation-container :after,
.k-block .k-header,
.k-dialog .k-window-content,
.k-list-container,
.k-widget, .k-widget *,
.k-widget :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/***********************headeings*********************/
h1 {
  font-size: 2.1875rem;
  font-weight: bold;
}

h2 {
  font-size: 1.875rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5625rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

h5 {
  font-size: 1.125rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
}

p {
  font-size: 1rem;
  font-weight: normal;
}

/*************TEXT******************/
.black_text {
  color: #000000;
}

.white_text {
  color: #fff !important;
}

.red_text {
  color: #ef3822 !important;
}

.Bgray_text {
  color: #efefef !important;
}

.lightgray_text {
  color: #6b6b6b;
}

.yellow_text {
  color: #fdb415;
}

.primary_text {
  color: #0056b8;
}

.secondary_text {
  color: #4db848;
}

/*disabled link*/
.isdisabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

/*backgrounds*/
.bg_white {
  background-color: #fff;
}

.bg_primary {
  background-color: #0056b8;
}

.bg_secondary {
  background-color: #4db848;
}

.bg_red {
  background-color: #ef3822;
}

.bg_dark_red {
  background-color: #ee3823;
}

.bg_yellow {
  background-color: #fdb415;
}

.bg_purple {
  background-color: #8232d2;
}

.bg_orange {
  background-color: #fbb316;
}

.bg_olive {
  background-color: #d5df22;
}

.bg_sky {
  background-color: #1888ad;
}

.bg_bright_gray {
  background-color: #efefef;
}

.bg_dark_gray {
  background-color: #e3e6e6;
}

/* Moema */
.button--moema {
  position: relative;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.button--moema.button--inverted {
  background: #ECEFF1;
  color: #37474f;
}

.button--moema::before {
  content: '';
  position: absolute;
  top: -13px;
  left: -13px;
  bottom: -13px;
  right: -13px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}

.button--moema:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}

.button--moema.button--inverted:hover {
  color: #ECEFF1;
  background-color: #7986cb;
}

.button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}

@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.Primary_fill {
  background-color: #0056b8;
  border: 1px solid #0056b8;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 23px;
  height: 35px;
  font-size: 0.875rem;
  font-weight: normal;
  border-radius: 3px;
  cursor: pointer;
  text-transform: capitalize;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}

.inp textarea {
  width: 100%;
  background: #e3e6e6 !important;
  border: 0;
  padding: 10px;
  color: #9098A9;
}

.inp textarea + .label {
  top: 5px;
}

.inp textarea:not(:placeholder-shown) + span {
  color: #0056b8;
  -webkit-transform: translateY(-26px) scale(0.75);
          transform: translateY(-26px) scale(0.75);
}

.inp textarea:focus {
  background: none;
  outline: none;
  border-color: #0056b8;
}

.inp textarea:focus + span {
  color: #0056b8;
  -webkit-transform: translateY(-26px) scale(0.75);
          transform: translateY(-26px) scale(0.75);
}

.inp textarea:focus + span + .border {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.inp .label {
  position: absolute;
  top: 16px;
  left: 5px;
  font-size: 15px;
  color: #9098A9;
  font-weight: 500;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  padding-left: 0;
}

.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all .15s;
  transition: all .15s;
}

.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.inp input:not(:placeholder-shown) + span {
  color: #0056b8;
  -webkit-transform: translateY(-26px) scale(0.75);
          transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
  background: none;
  outline: none;
  border-color: #0056b8;
}

.inp input:focus + span {
  color: #0056b8;
  -webkit-transform: translateY(-20px) scale(0.75);
          transform: translateY(-20px) scale(0.75);
}

.inp input:focus + span + .border {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.breadcrumb {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.breadcrumb li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb li a {
  color: #141414;
  font-size: 0.875rem;
  text-transform: none !important;
}

.breadcrumb li.active {
  font-style: italic;
  font-size: 0.9375rem;
  color: #141414;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "\00BB";
  font-size: 25px;
  padding-bottom: 2px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: #141414;
}

.cb-slideshow:after {
  content: '';
  background: transparent url(../images/pattern.png) repeat top left;
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}

.cb-slideshow li div h3 {
  font-size: 150px;
  padding: 0;
  line-height: 150px;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(../../images/project1.jpg);
}

.cb-slideshow li:nth-child(2) span {
  background-image: url(../../images/project2.jpg);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
  background-image: url(../../images/project3.jpg);
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) span {
  background-image: url(../../images/project1.jpg);
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) span {
  background-image: url(../../images/project2.jpg);
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) span {
  background-image: url(../../images/project3.jpg);
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Animation for the title */
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

header.main-header {
  background-color: #0056b8;
  color: #000000;
  min-height: 60px;
}

header.main-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.main-header ul > li {
  margin-right: 20px;
  position: relative;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

header.main-header ul > li:last-of-type {
  margin-right: 0;
}

body.rtl header.main-header ul > li {
  margin-right: 0;
  margin-left: 20px;
}

body.rtl header.main-header ul > li:last-of-type {
  margin-right: 20px;
  margin-left: 0;
}

header.main-header ul > li a {
  color: #fff;
}

header.main-header ul > li::after {
  content: '';
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 1.5px;
  background: #fff;
  bottom: -5px;
  left: 40%;
  right: 40%;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

header.main-header ul > li.active::after {
  visibility: visible;
  width: 100%;
}

header.main-header ul > li:hover::after {
  visibility: visible;
  width: 100%;
  left: 0;
  right: 0;
}

.root .home-wrapper {
  background-color: #efefef;
}

.root .main-wrapper .main-content .slider-wrapper {
  position: relative;
  color: #FFF;
}

.root .main-wrapper .main-content .slider-wrapper .search-section-wrapper {
  position: absolute;
  top: 50%;
  width: 70%;
  margin: auto;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 555;
}

.root .main-wrapper .main-content .slider-wrapper .search-section-wrapper h1 {
  font-size: 3.1875rem;
  text-transform: capitalize;
}

.root .main-wrapper .main-content .slider-wrapper .search-section-wrapper p {
  margin-top: 15px;
  margin-bottom: 30px;
}

.root .main-wrapper .main-content .slider-wrapper .search-section-wrapper .search-input {
  width: 50%;
  margin: auto;
  height: 50px;
}

.root .main-wrapper .main-content .slider-wrapper .search-section-wrapper .search-input input {
  height: 50px;
}

.root .main-wrapper .main-content .slider-wrapper .search-section-wrapper .search-input input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

.root .main-wrapper .main-content .slider-wrapper .search-section-wrapper .search-input button {
  width: 50px;
}

.root .main-wrapper .main-content .cb-slideshow {
  height: calc(100vh - 60px);
}

.root .main-wrapper .main-content .slider-content {
  height: calc(100vh - 60px);
}

.root .main-wrapper .main-content .slider-content .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #FFF;
}

.root .main-wrapper .main-content .slider-content .slick-list,
.root .main-wrapper .main-content .slider-content .slick-track {
  height: 100%;
}

.root .main-wrapper .main-content .slider-content .slider-item img {
  height: 100%;
  width: 100%;
}

.root .main-wrapper .main-content .services-wrapper header {
  min-height: 70px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.root .main-wrapper .main-content .services-wrapper header h2 {
  position: relative;
}

.root .main-wrapper .main-content .services-wrapper header h2::after {
  content: '';
  position: absolute;
  width: 80%;
  bottom: -4px;
  height: 4px;
  left: 0;
  background-color: #0056b8;
}

.root .main-wrapper .main-content .services-wrapper .about-article {
  margin-bottom: 60px;
  background: #FFF;
  padding-top: 30px;
}

.root .main-wrapper .main-content .services-wrapper .about-article h2 {
  color: #000;
  line-height: 1.3;
  margin-bottom: 20px;
}

.root .main-wrapper .main-content .services-wrapper .about-article h2 span {
  color: #4db848;
}

.root .main-wrapper .main-content .services-wrapper .about-article p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #676767;
}

.root .main-wrapper .main-content .services-wrapper .sevice-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #000000;
  width: 100%;
  height: 100%;
  min-height: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  border-radius: 4px;
}

.root .main-wrapper .main-content .services-wrapper .sevice-card .sevice-icon {
  width: 80px;
  height: 80px;
  background: #0056b8;
  border-radius: 50%;
  padding: 5px;
  border: 4px solid #FFF;
  position: absolute;
  top: -36px;
}

.root .main-wrapper .main-content .services-wrapper .sevice-card .sevice-icon img {
  width: 80%;
  height: 80%;
}

.root .main-wrapper .main-content .services-wrapper .sevice-card h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.root .main-wrapper .main-content .services-wrapper .sevice-card:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.root .main-wrapper .main-content .Partner-wrapper header {
  min-height: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.root .main-wrapper .main-content .Partner-wrapper header h2 {
  position: relative;
  margin-bottom: 10px;
}

.root .main-wrapper .main-content .Partner-wrapper header h2::after {
  content: '';
  position: absolute;
  width: 80%;
  bottom: -4px;
  height: 4px;
  left: 0;
  background-color: #0056b8;
}

.root .main-wrapper .main-content .Partner-wrapper .slider-item {
  height: 150px;
  margin: 0 30px;
}

.root .main-wrapper .main-content .Partner-wrapper .slider-item img {
  height: 100%;
  width: 100%;
}

.root .main-wrapper .main-content .projects-wrapper header {
  min-height: 70px;
}

.root .main-wrapper .main-content .projects-wrapper header h2 {
  position: relative;
}

.root .main-wrapper .main-content .projects-wrapper header h2::after {
  content: '';
  position: absolute;
  width: 80%;
  bottom: -4px;
  height: 4px;
  left: 0;
  background-color: #0056b8;
}

.root .main-wrapper .main-content .projects-wrapper .project-slider {
  margin: 0 50px;
  margin-bottom: 20px;
}

.root .main-wrapper .main-content .projects-wrapper .project-item {
  height: 250px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.root .main-wrapper .main-content .projects-wrapper .project-item .call-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../../images/phone-contact.svg) no-repeat;
  background-position: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 9999;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.root .main-wrapper .main-content .projects-wrapper .project-item img {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.root .main-wrapper .main-content .projects-wrapper .project-item .description-holder {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.root .main-wrapper .main-content .projects-wrapper .project-item .description-holder h4 {
  margin-bottom: 10px;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  opacity: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  color: #0056b8;
}

.root .main-wrapper .main-content .projects-wrapper .project-item .description-holder p {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  color: #0056b8;
}

.root .main-wrapper .main-content .projects-wrapper .project-item:hover img {
  opacity: 1;
  -webkit-transform: rotate(2deg) scale(1.2);
          transform: rotate(2deg) scale(1.2);
}

.root .main-wrapper .main-content .projects-wrapper .project-item:hover .description-holder h4,
.root .main-wrapper .main-content .projects-wrapper .project-item:hover .description-holder p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  color: #fff;
}

.root .main-wrapper .main-content .projects-wrapper .project-item:hover .call-btn {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.root .main-wrapper .main-content .projects-wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.root .main-wrapper .main-content .projects-wrapper .slick-arrow.slick-next {
  right: -50px;
}

.root .main-wrapper .main-content .projects-wrapper .slick-arrow.slick-prev {
  left: 0;
}

.root .main-wrapper .main-content .contact-wrapper form {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  padding: 20px;
  background: #FFF;
}

.root .main-wrapper .main-content .contact-wrapper iframe {
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.root .main-wrapper .filter-content {
  background: #e3e6e6;
}
/*# sourceMappingURL=style.css.map */