/* Moema */
.button--moema {
    position: relative;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
.button--moema.button--inverted {
	background: #ECEFF1;
	color: #37474f;
}
.button--moema::before {
	content: '';
	position: absolute;
	top: -13px;
	left: -13px;
	bottom: -13px;
	right: -13px;
	background: inherit;
	border-radius: 50px;
	z-index: -1;
	opacity: 0.4;
	-webkit-transform: scale3d(0.8, 0.5, 1);
	transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
	color: #ECEFF1;
	background-color: #7986cb;
}
.button--moema:hover::before {
	-webkit-animation: anim-moema-2 0.3s 0.3s forwards;
	animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}


// /*Primary (Fill)*/

.Primary_fill {
    @include btn($primary_color, $white, $primary_color);
}

// .Primary_fill:hover {
//     @include btn($primary_color, $white, $primary_color);
// }

// .Primary_fill:active {
//     @include btn($primary_color, $white, $primary_color);
//     outline: none;
// }

// .Primary_fill:disabled {
//     @include btn($primary_color, $white, $primary_color);
//     opacity: 0.5;
// }


// /*Primary (Outline)*/
// .Primary_outline {
//     @include btn($white, $primary_color, $primary_color);
// }

// .Primary_outline:hover {
//    // @include btn($primary_color, $white, $primary_color);
// }

// .Primary_outline:active {
//     @include btn($primary_color, $white, $primary_color);
//     outline: none;
// }

// .Primary_outline:disabled {
//     @include btn($white, $primary_color, $primary_color);
//     opacity: 0.5;
// }


// /*Secondary (Fill)*/
.secondary_fill {
    @include btn($secondary_color, $white, $secondary_color);
}

// .secondary_fill:hover {
//     // @include btn($secondary_color, $white, $secondary_color);
// }

// .secondary_fill:active {
//     @include btn($secondary_color, $white, $secondary_color);
//     outline: none;
// }

// .secondary_fill:disabled {
//     @include btn($secondary_color, $white, $secondary_color);
//     opacity: 0.5;
// }

// /*secondary (Outline)*/
// .secondary_outline {
//     @include btn($white, $secondary_color, $secondary_color);
// }

// .secondary_outline:hover {
//  //   @include btn($secondary_color, $white, $secondary_color);
// }

// .secondary_outline:active {
//     @include btn($secondary_color, $white, $secondary_color);
//     outline: none;
// }

// .secondary_outline:disabled {
//     @include btn($white, $secondary_color, $secondary_color);
//     opacity: 0.5;
// }


// /*purple (outline)*/
// .purple_outline {
//     @include btn($white, $purple_color, $purple_color);
// }

// .purple_outline:hover {
//    // @include btn($purple_color, $white, $purple_color);
// }

// .purple_outline:active {
//     @include btn($purple_color, $white, $purple_color);
//     outline: none;
// }

// .purple_outline:disabled {
//     @include btn($purple_color, $white, $purple_color);
//     opacity: 0.5;
// }

// /*purple (fill)*/
// .purple_fill {
//     @include btn($purple_color, $white,  $purple_color);
// }

// .purple_fill:hover {
//  //   @include btn($purple_color, $white,  $purple_color);
// }

// .purple_fill:active {
//     @include btn($purple_color, $white,  $purple_color);
//     outline: none;
// }

// .purple_fill:disabled {
//     @include btn($purple_color, $white,  $purple_color);
//     opacity: 0.5;
// }

// /*yellow (fill)*/
// .yellow_fill {
//     @include btn($yellow_color, $white,  $yellow_color);
// }

// .yellow_fill:hover {
//     @include btn($yellow_color, $white,  $yellow_color);
// }

// .yellow_fill:active {
//     @include btn($yellow_color, $white,  $yellow_color);
//     outline: none;
// }

// .yellow_fill:disabled {
//     @include btn($yellow_color, $white,  $yellow_color);
//     opacity: 0.5;
// }

// /*white (Outline)*/
// .white_outline {
//     @include btn(transparent, $white, $white);
// }

// .white_outline:hover {
//    @include btn(transparent, $white, $white);
// }

// .white_outline:active {
//     @include btn(transparent, $white, $white);
//     outline: none;
// }

// .white_outline:disabled {
//     @include btn(transparent, $white, $white);
//     opacity: 0.5;
// }

// /*black (Outline)*/
// .black_outline {
//     @include btn(transparent, $black, $black);
// }

// .black_outline:hover {
//    @include btn(transparent, $black, $black);
// }

// .black_outline:active {
//     @include btn(transparent, $black, $black);
//     outline: none;
// }

// .black_outline:disabled {
//     @include btn(transparent, $black, $black);
//     opacity: 0.5;
// }

// /*Grayscale Fill*/

// .grayscale_fill {
//     @include btn($light_gray, $black, $light_gray);
// }

// .grayscale_fill:hover {
//   //  @include btn($light_gray, $black, $light_gray);
// }

// .grayscale_fill:active {
//     @include btn($light_gray, $black, $light_gray);
//     outline: none;
// }

// .grayscale_fill:disabled {
//     @include btn($light_gray, $black, $light_gray);
//     opacity: 0.5;
// }

// /* darkgray  Fill*/

// .darkgray_fill {
//     @include btn($light_gray, $white, $light_gray);
// }

// .darkgray_fill:hover {
//    // @include btn($light_gray, $white, $light_gray);
// }

// .darkgray_fill:active {
//     @include btn($light_gray, $white, $light_gray);
//     box-shadow: 0px 0px 0px 4px #dadce0;
// }

// .darkgray_fill:disabled {
//     @include btn($light_gray, $white, $light_gray);
//     opacity: 0.5;
// }
// /* darkred  Fill*/

// .darkred_fill {
//     @include btn($dark-red, $white, $dark-red);
// }

// .darkred_fill:hover {
//   //  @include btn($dark-red, $white, $dark-red);
// }

// .darkred_fill:active {
//     @include btn($dark-red, $white, $dark-red);
//     box-shadow: 0px 0px 0px 4px #dadce0;
// }

// .darkred_fill:disabled {
//     @include btn($dark-red, $white, $dark-red);
//     opacity: 0.5;
// }

// .balckgray_fill {
//     @include btn($balck-gray, $dark-black, $balck-gray);
// }  

// .darkred_outline {
//     @include btn(transparent, $dark-red, $dark-red);
// } 

 
// .ciecle{
//     @extend  %flexCenter;
//     max-width: 72px;
//     max-height: 72px;
//     width: 72px;
//     height: 72px;
//     border-radius: 50% !important;
// }

// .btn-lg{
//     height: 50px;
//     font-size: 1.25rem;
//     font-weight: bold;
//     padding-left: 30px;
//     padding-right: 30px;
// }

.scale-div{
	transform: translateX(-50%) scale(0) !important;
}
.send-message-wrapper{
	display: flex;
	align-items: center;
	padding: 20px 30px;
	position: fixed;
	left: -91px;
	background-color: $primary_color;
	transform: rotate(90deg);
	color: #FFF;
	height:40px;
	top: 50%;
	z-index: 4444;
	box-shadow: 0 0 14px 8px rgba(0,0,0,.17);
	cursor: pointer;
	overflow: hidden;
	border-top-left-radius: 30px;
	transition: all 0.7s;
	body.rtl &{
		right: -91px;
		left: auto;
		border-top-left-radius: 0;
		border-bottom-left-radius: 30px;
	}
	&::after{
		content: '';
		position: absolute;
		top: -10px;
		left: -35px;
		height: 100%;
		background: $secondary_color;
		width: 60px;
		border-radius: 30px;
		body.rtl &{
			top: 10px;
		}		
	}
	p{
		display: flex;
		align-items: center;
		transform: rotate(180deg);
		font-size: 16px;
	}
	i{
		margin-left: 8px;
		body.rtl &{
			margin-right: 8px;
		}		
	}
}

.meassage-body{
	width: 300px;
	display: flex;
	align-items: flex-start;
	position: fixed;
	z-index: 3333333;
	bottom: 0;
	left: 0;
	transition: all 0.7s;
	.close-btn{
		button{
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			background: #DDD;
			border-radius: 50%;
			justify-content: center;
			border: 1.5px solid #000;
		}
	}
	header{
		width: 100%!important;
		height: 70px!important;
		background-color: $primary_color;
		display: flex;
		align-items: center;
		color: #FFF;
		position: relative;
		overflow: hidden;
		border-top-right-radius: 30px; 
		border-top-left-radius: 6px; 
		body.rtl &{
			border-top-left-radius: 30px; 
			border-top-right-radius: 6px; 
		}		
		&::after{
			content: '';
			position: absolute;
			top: -55px;
			right: -25px;
			height: 115%;
			background: $secondary_color;
			width: 60px;
			border-radius: 30px;
			body.rtl &{
				left: -25px;
				right: auto;
			}			
		}
	}
	form{
		background: #f8f8f8;
		display: flex;
		flex-direction: column;
		padding: 20px;
		input,
		textarea{
			background-color: transparent;
			border-radius: 4px !important;
			box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.1) !important;
			border: 1px solid #ccc;
			height: 50px;
			border-radius: 0;
			box-shadow: none;
			margin-bottom: 20px;
			text-indent: 10px;
			cursor: default;
			&:focus{
				border-color: $primary_color;
				box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(152, 116, 84, 0.6) !important;
				outline: none;
			}
			@include input-placeholder {
				color: #697582;
			}
		}
		textarea{
			padding-top: 20px;
			height: auto;
		}  
	}
	body.rtl &{
		right: 0;
		left: auto;
	}	
}
