.breadcrumb{
    background: transparent;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0; 
    li{
        display: flex;
        align-items: center;
        a{
            color: #141414;
            font-size: 0.875rem;
            text-transform: none !important;
        }
        &.active{
            font-style: italic;
            font-size: 0.9375rem; 
            color: #141414;  
        }
    }
    .breadcrumb-item+.breadcrumb-item::before{
        content: "\00BB"; 
        font-size: 25px;
        padding-bottom: 2px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        color: #141414;
    }
}

 
