

.root {
    .home-wrapper{ background-color: #efefef }
    .main-wrapper {
        .main-content {

            .slider-wrapper{
                height: calc( 100vh - 60px);
                .slick-list,
                .slick-track{
                    height: 100%;
                }
                .slider-item{
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .services-wrapper {
                header{
                    @extend %flexCenter;
                    min-height: 70px;
                    justify-content: flex-start;
                    h2{
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 80%;
                            bottom: -4px;
                            height: 4px;
                            left: 0;
                            background-color: $primary_color;
                        }
                    }
                }
                .sevice-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $white;
                    color: $black;
                    width: 100%;
                    height: 100%;
                    min-height: 200px;
                    margin-bottom: 20px;
                    margin-right: 20px;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
                    transition: box-shadow 0.3s ease-in-out;
                    border-radius: 4px;
                    &:hover{
                        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
                    }
                }
            }
            
            .Partner-wrapper{
                header{
                    @extend %flexCenter;
                    min-height: 70px;
                    flex-direction: column;
                    align-items: flex-start;
                    h2{
                        position: relative;
                        margin-bottom: 10px;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 80%;
                            bottom: -4px;
                            height: 4px;
                            left: 0;
                            background-color: $primary_color;
                        }
                    }
                }
                .slider-item{
                    height: 150px;
                    margin: 0 30px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .projects-wrapper{
                header{
                    @extend %flexBetween;
                    min-height: 70px;
                    // background-color: $white;
                    // box-shadow: 0 0 7.3px 1.7px rgba(0, 0, 0, 0.1);
                    h2{
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 80%;
                            bottom: -4px;
                            height: 4px;
                            left: 0;
                            background-color: $primary_color;
                        }
                    }
                }
                .project-slider{
                    margin: 0 50px;
                    margin-bottom: 20px;
                }
                .project-item{
                    height: 250px;
                    margin: 0 10px;
                    position: relative;
                    overflow: hidden;
                    .call-btn{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: url(../../images/phone-contact.svg) no-repeat;
                        background-position: center;
                        position: absolute;
                        bottom: 40px;
                        left: 50%;
                        z-index: 9999;
                        transform: translateX(-50%) scale(0);
                        transition: all 0.7s;
                        // &:hover{
                        //     animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                        //     backface-visibility: hidden;
                        //     perspective: 1000px;
                        // }
                    }
                    img{
                        height: 100%;
                        width: 100%;
                        opacity: 0.6;
                        transition: all 0.7s;
                    }
                    .description-holder{
                        @extend %flexCenter;
                        flex-direction: column;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        h4{
                            margin-bottom: 10px;
                            transform: translateY(-150px);
                            opacity: 0;
                            transition : all 0.7s;
                            color: $primary_color;
                        }
                        p{
                            transform: translateY(150px);
                            opacity: 0;
                            transition: all 0.7s;
                            color: $primary_color;
                        }
                    }
                    &:hover{
                        img{
                            opacity: 1;
                            transform: rotate(2deg) scale(1.2);
                        }
                        .description-holder{
                            h4,p{
                                transform: translateY(0);
                                opacity: 1;
                                color: $white;
                            }
                        }
                        .call-btn{
                            transform: translateX(-50%) scale(1);
                        }
                    }
                }
                .slick-arrow{
                    position: absolute;
                    top: 50%;
                    transform: translateX(-50%);
                    &.slick-next{
                        right: -50px;
                    }
                    &.slick-prev{
                        left: 0;
                    }
                }
            }

            .contact-wrapper{
                form{
                    border: 1px solid #dfdfdf;
                    border-radius: 4px;
                    box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
                    padding: 20px;
                    background: #FFF;
                }
                iframe{
                    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
                    border-radius: 4px;
                }
            }
            
        }

        .filter-content {
            background: $dark_gray;
        }
    }
}

// @keyframes shake {
//     10%, 90% {
//       transform: translate3d(-1px, 0, 0);
//     }
    
//     20%, 80% {
//       transform: translate3d(2px, 0, 0);
//     }
  
//     30%, 50%, 70% {
//       transform: translate3d(-2px, 0, 0);
//     }
  
//     40%, 60% {
//       transform: translate3d(2px, 0, 0);
//     }
// }